*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#estatura{
    width: 100px;
}

#peso{
    width: 100px;
}

#resultado{
    width: 400px;
   
}

.res{ 
    margin-left: 100px;
}

.ejercicio1{
    background-color: crimson;
}

.ejercicio2{
    background-color: chartreuse;
}

.moneda{
    width: 300px;
}

.guardar{
    width: 250px;
}

.nota{
    width: 600px;
}

.borrar{
    width: 150px;
}

.cardNotas{
    max-width: 18rem;
}

.nota {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .card-header {
    background-color: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .card-body {
    padding: 10px;
  }
  .text-center {
    text-align: center;
  }

  .appnotas{
    background-color: orangered;
  }